@font-face{
	font-family: 'YandexSansDisplay-Regular';
	src: url('../fonts/YandexSansDisplay-Regular.eot');
	src: url('../fonts/YandexSansDisplay-Regular.eot?iefix') format('eot'),
	url('../fonts/YandexSansDisplay-Regular.woff') format('woff'),
	url('../fonts/YandexSansDisplay-Regular.ttf') format('truetype'),
	url('../fonts/YandexSansDisplay-Regular.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}