/* ----- DEVICES ----- */

$widescreen-desktop: 1600px;
$smallscreen-desktop: 1260px;
$laptop-landscape: 1024px;
$laptop: 850px;
$mobile-landscape: 750px;
$mobile: 420px;

/* ------ COLORS ----- */

$main-color: #fff;
$main-color2: #3c3c3c; // darkgrey
$bright-color1: #ffca2a; //yellow
$bright-color2: #ee155b; //red


/* ----- FONTS ----- */

$main-font-size: 18px;

/* ----- SITE GRID ----- */

$one-half: 47%;
$one-third: 31.5%;
$one-fourth: 23%;
$three-fourth:74.5%;
$one-fifth: 15%;









