@import "_variable.scss";
@import "_mixin.scss";
@import "_reset.scss";
@import "_media.scss";
@import "_fonts.scss";

body {
	background: #ffffff;
	font-size: $main-font-size;
	font-family: 'YandexSansDisplay-Regular';
	ul, li {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: $main-color2;
	}
}
/* ----- SITE GRID ----- */

.one-half {
	@include one-half;
}
.one-third {
	@include one-third;
}
.one-fourth {
	@include one-fourth;
}
.one-fifth {
	@include one-fifth;
}
.three-fourth {
	@include three-fourth;
}
.last {
	margin-right: 0 !important;
}
.block__wrapper {
	margin: auto;
	box-sizing: border-box;
	width: 1240px;
}

.button {
	@include button-bright;
	&:hover {
		@include button-bright-hover;
	}
}
h1, h2 {
  	font-size: 35px;
    line-height: 40px;
    color: #ee155b;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
    letter-spacing: 0.17rem;
    margin-bottom: 20px;
    position: relative;
}

/* ----- HEADER ----- */

.header {
	@include flexbox(flex);
	@include justify-content(space-between);
	padding: 20px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
    .header__nav {
    	@include flexbox(flex);
    	@include align-items(flex-start);
    	&.sub::after {
    		content: '\f0d7';
    		font-family: "FontAwesome";
    	}
    }
    .header__nav-item {
    	cursor: pointer;
    	padding: 0 3px 10px;
    	border-bottom: 1px solid #c0c0c0;
    	&:hover {
    		border-bottom: 2px solid $bright-color2;
    		color: $bright-color2;
    		& > a {
    			color: $bright-color2;
    		}
    		.header__subnav {
    			display: block;
    		}
    	} 

    }
    .header__logo-link {
    	width: 300px;
	    text-align: center;
	    margin: 0 30px;
    }
    .header__subnav {
    	display: none;
    	position: absolute;
	    background: rgba(255, 255, 255, 0.8);
	    padding: 10px 15px;
	    margin-top: 13px;
	    margin-left: -4px;
	    border-radius: 10px;
	    .header__subnav-item {
	    	padding: 5px 0;
	    	font-size: 15px;
	    	.header__nav-link:hover {
	    		text-decoration: underline;
	    	}
	    }
    }
}
.header__phone-wr {
	display: inline-block;
	padding-left: 20px;
    height: 49px;
    box-sizing: border-box;
    @include border(#d0d0d0, 20px, 1px);
    &:hover {
    	border-color: $bright-color1;
    }
    .header__phone {
    	display: inline-block;
    	color: $bright-color1;
    }
	.header__phone-icon {
		display: inline-block;
		background: $bright-color1;
	    width: 70px;
	    height: 47px;
	    text-align: center;
	    border-radius: 18px;
	    padding: 11px;
	    margin-left: 15px;
	    box-sizing: border-box;
	    color: $main-color2;
	    font-size: 25px;
	}
}

/* ----- INDEX ----- */

.main {
	&.index {
		margin-top: -125px;
		.index__main-block {
			background: url('../images/main-back.jpg') no-repeat 50% 0;
			background-size: 100%;
			padding-top: 190px;
		    width: 100%;
		    text-align: center;
		    position: relative;
    		z-index: 1;
		    h1 {
		    	width: 390px;
		    }
		    h3 {
		    	width: 450px;
			    margin: 0 auto;
			    line-height: 20px;
		    }
		    .index__main-gradient {
		    	position: absolute;
			    width: 100%;
			    height: 100%;
			    left: 0;
			    top: 0;
			    background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, rgba(255,255,255, 0.9)), color-stop(20%, transparent));
			    background: -webkit-linear-gradient(bottom, rgba(255,255,255, 0.9) 3%, transparent 20%);
			    background: -o-linear-gradient(bottom, rgba(255,255,255, 0.9) 3%, transparent 20%);
			    background: linear-gradient(to top, rgba(255,255,255, 0.9) 3%, transparent 20%);
			    z-index: 0;
		    }
		    .index__main-bus {
		    	background: url(../images/bus.png) no-repeat 50% 145%;
			    background-size: 100%;
			    max-width: 1000px;
			    height: 300px;
			    margin: auto;
			    margin-bottom: -80px;
			    padding-bottom: 60px;
			    position: relative;
			    @include flexbox(flex);
			    @include justify-content(center);
			    @include align-items(center);
		    }
		}
	}
	.index__format-types {
		margin: auto;
	    margin-top: 80px;
	    text-align: center;
    	.index__format-wr {
    		max-width: 1280px;
		    width: 100%;
		    padding: 0 20px;
		    margin: auto;
		    box-sizing: border-box;
    	}
    	.index__format {
    		display: inline-block;
    		vertical-align: top;
    		box-sizing: border-box;
    		&.left {
    			width: 54%;
    			margin-right: 2%;
    		}
    		&.right {
    			width: 43%;
    			margin-bottom: 10px;
    		}
    	}
    	.index__format-link {
    		display: inline-block;
    		margin-bottom: 30px;
    		font-size: 20px;
    		text-transform: uppercase;
    		font-weight: 700;
    		vertical-align: top;
    		&:hover {
    			color: $bright-color2;
    		}
    	}
    	.index__format-img {
    		width: 100%;
    	}
	}
	.index__work-block {
		padding: 80px 0;
		margin-top: 30px;
	    background: url(../images/work-back.png) no-repeat 50% 50%;
	    background-size: 100% 100%;
	    box-sizing: border-box;
	    min-height: 810px;
	    width: 100%;
	    text-align: center;
		h2 {
			color: $main-color;
		}
		.index__work-wr {
			background: url('../images/work-line.png') no-repeat 100% 15px;
			background-size: 85% 52%;
			max-width: 1000px;
			margin: auto;
			margin-top: 45px;
    		@include flexbox(flex);
    		@include flex-wrap(wrap);
		}
		.index__work-number {
			color: $bright-color2;
			width: 40px;
			height: 40px;
			text-align: center;
			box-sizing: border-box;
			padding: 6px 0;
			margin-bottom: 15px;
			background: $main-color;
			@include border(#1dc6ff, 50%, 5px);
			box-shadow: 0 0 0 2px $main-color;
		}
		.index__work-item {
			@include flexbox(flex);
			@include flex-direction(column);
			@include align-items(center);
			width: 33%;
    		height: 200px;
			.index__work-icon {
				background: url('../images/icons-work.png') no-repeat;
				background-size: 278px 50px;
				width: 50px;
				height: 50px;
				margin-top: -5px;
				&.address {
					background-position: -49px 0;
				}
				&.photo {
					background-position: -220px 0;
				}
				&.start {
					background-position: -157px 0;
				}
				&.layout {
					background-position: -101px 0;
				}
			}
			.index__work-info {
				width: 150px;
				color: $main-color;
				letter-spacing: 0.07rem;
			}
		}
	}
	.index__review-block {
		text-align: center;
		max-width: 1280px;
		padding: 0px 20px;
		margin: auto;
		.index__rewiew-wr {
			@include flexbox(flex);
			@include flex-wrap(wrap);
			margin-top: 50px;
			.index__rewiew-item {
				width: 49%;
				margin-bottom: 1.9%;
				text-align: left;
				&:nth-of-type(2n-1) {
					margin-right: 1.9%;
				}
			}
		}
		.index__rewiew-company {
			width: 100%;
			padding: 10px 20px;
			box-sizing: border-box;
			background-color: #f0f0f0;
			color: $bright-color2;
		}
		.index__rewiew-text {
			background-color: #f7f7f7;
			padding: 10px 20px;
			box-sizing: border-box;
		}
	}
	.index__form-title {
		color: $bright-color2;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 14px;
		margin-top: 10px;
	}
	.index__form-up {
		color: $bright-color2;
		width: 100%;
		margin-top: 1px;
	}
	.index__form {
		max-width: 900px;
    	margin: auto;
    	margin-top: 25px;
    	@include flexbox(flex);
    	@include flex-wrap(wrap);
    	@include justify-content(space-between);
    	input {
    		width: 32%;
    		border: 1px solid #dcdcdc;
    		padding: 10px 20px;
    		box-sizing: border-box;
    		margin-bottom: 20px;
    	}
    	textarea {
    		width: 100%;
    		border: 1px solid #dcdcdc;
    		padding: 10px 20px;
    		box-sizing: border-box;
    		height: 130px;
    	}
    	.submit-review {
    		margin: auto;
    		margin-top: 25px;
    	}
	}
	.index__trust-block {
		text-align: center;
	    margin: auto;
	    margin-top: 50px;
		.index__trust-wr {
			@include flexbox(flex);
			@include flex-wrap(wrap);
			@include justify-content(space-between);
			max-width: 1280px;
	    	padding: 20px;
	    	margin: auto;
			.index__work-img-wr {
				padding: 10px 23px;
				-webkit-align-self: center;
				-ms-flex-item-align: center;
				-ms-grid-row-align: center;
				align-self: center;
			}
		}
	}

	/* ----- PRICE PAGE ----- */

	.price__header-block {
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(center);
		background: url('../images/price-back.jpg') no-repeat 50% 50%;
		background-size: cover;
		height: 20vw;
		h1 {
			font-size: 40px;
			margin: 0;
		}
	}
	.price__block {
		max-width: 1280px;
		margin: auto;
		padding: 40px 20px 0;
		.price__item-block {
			display: inline-block;
			width: 47.5%;
			margin-bottom: 2.5%;
			&:nth-of-type(2n-1) {
				margin-right: 4.45%;
			}
		}
		.price__item-title {
			padding: 15px 20px;
		    background: #f7f7f7;
		    text-transform: uppercase;
		    color: $bright-color2;
		    font-weight: 600;
			letter-spacing: 0.07rem;
		}
		.price__img-wr {
			height: 250px;
			overflow: hidden;
			.price__img {
				min-width: 100%;
				min-height: 100%;
			}
		}
		.price__info-block {
			padding: 20px;
			background: #f7f7f7;
		}
		.price__info-item {
			padding-bottom: 20px;
			.price__info-title {
				display: inline-block;
				font-size: 16px;
				letter-spacing: 0.08rem;
				max-width: calc(100% - 165px);
			}
			.price__info-price {
				display: inline-block;
				font-size: 20px;
				color: $bright-color2;
				float: right;
				min-width: 160px;
				font-weight: 600;
				letter-spacing: 0.07rem;
			}
		}
	}
}

/* ----- FOOTER ----- */

.footer {
	width: 100%;
	background: url('../images/contacts-back.jpg') no-repeat 50% 100%;
    background-size: 100% 77%;
	.footer__wrapper {
		max-width: 1100px;
		padding: 20px;
		margin: auto;
		&::after {
			content: "";
		    clear: both;
		    display: block;
		}
	}
	.footer__contacts-block {
		display: inline-block;
		margin-top: 15%;
		width: 250px;
		font-size: 14px;
		.footer__contact-subtitle {
			text-transform: uppercase;
			color: #808080;
			margin-top: 15px;
			margin-bottom: 8px;
		}
		.fa {
			color: $bright-color2;
			line-height: 19px;
		}
		.footer__contact-item {
			display: inline-block;
			width: calc(100% - 30px);
		    vertical-align: top;
		    margin-left: 5px;
		    line-height: 19px;
		    letter-spacing: 0.05rem;
		}
		a.footer__contact-item:hover {
			text-decoration: underline;
		}
	}
	.footer__form-block {
		width: 470px;
		float: right;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 50px;
		img {
	    	width: 100%;
	    }
		.footer__form {
			padding: 8% 20%;
		    box-sizing: border-box;
		    background: $main-color;
		    margin-top: -13%;
		    input {
		    	margin-bottom: 15px;
			    width: 100%;
			    padding: 17px;
			    box-sizing: border-box;
			    @include border(#d0d0d0, 24px, 1px);
		    }
		    label {
		    	position: relative;
		    	.footer__input-icon {
			    	background: $bright-color1;
			    	color: $main-color;
			    	padding: 15px;
			    	border-radius: 50%;
			    	width: 44px;
			    	height: 44px;
			    	text-align: center;
			    	box-sizing: border-box;
			    	position: absolute;
			    	top: -9px;
			    	right: 3px;
			    }
		    }
		    .footer__submit {
		    	margin-top: 20px;
		    }
		}
	}
}




